.App {
  text-align: center;
  min-height: 100%;
}
html, body {
    background-color: #000;
}

.mainContent {
  margin-top: 50px;
}

.logo {
  width: 175px;
  height: 175px;
}

.logoContainer {
  margin: auto;
  width: 20%;
}
