body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

input.myBox {
    border: 0px solid #FFF;
    border-bottom-width: 1px;
    background-color: transparent;
    color: #FFF;
    font-size: 3em;
    padding: .2em;
    text-align: center;


}
input.myBox::-webkit-input-placeholder {
    color:#fff;
}
input.myBox:focus::-webkit-input-placeholder {
    color:rgba(0,0,0,0);
}

.ui.primary.button.myButton {
  float: right;
  margin-right: 5em;
  margin-top: 1em;
  background-color: #272
}