body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*{
  font-family: 'Roboto', sans-serif;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

input.myBox {
    border: 1px solid #FFF;
    border-radius: 25px;
    background-color: transparent;
    color: #FFF;
    font-size: 2.5em;
    padding: .2em;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}
input.myBox::-webkit-input-placeholder {
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
input.myBox:focus::-webkit-input-placeholder {
    color:rgba(0,0,0,0);
}

.ui.primary.button.myButton {
  font-family: 'Roboto', sans-serif;
  float: right;
  margin-right: 2em;
  margin-top: 1em;
  padding:10px 10px;
  color: #a95ae6;
  background-color: #FFF;
  border-radius: 30px;
}
